body {
    margin: 0;
    padding: 0;
    background-color: oklch(18.674% 0.00002 271.152);



    font-family:'Inter', 'Segoe UI Variable', 'Segoe UI',
               system-ui, -apple-system, BlinkMacSystemFont,
               'Helvetica Neue', Arial, sans-serif; /* Set default font family */
    color:oklch(.95 0 0); /* Set default text color */
}   

h1, h2, h3, h4, h5, h6, p, pre {
    margin-left: 60px;   /* Add margin to all headings and paragraphs */
    margin-right: 60px;
}


h1 {
    color: oklch(.95 0 0);
    font-weight: 500;
}

h2 {
    color : oklch(.9 0 0);
    font-weight: 500;
}

h3 {
    color: oklch(.8 0 0);
    font-style: oblique;
}

p{
  color: oklch(.7 0 0);
  text-align: justify;
}
    

strong {
    color: oklch(34.953% 0.13326 27.714);
}

a {
    color: oklch(89.143% 0.0001 271.152);
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

hr{
    margin-left: 30px;
    margin-right: 30px;
    border: oklch(48.193% 0.00005 271.152) 1px solid;
}

/* Horizontal Navbar styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
  padding:0px 0px; /* Padding around each list item */
  text-align: center;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /* Padding inside the links */
  text-decoration: none;
  border:transparent 1px solid;
}

ul li a:hover {
  background-color: #111111;
  border: oklch(100% 0.00011 271.152 / 30%) 1px solid;
}

ul li a.active { /* Active link style */
  background-color: oklch(48.193% 0.00005 271.152);
}



.inverted-image {
  filter: invert(1);
}