body {
    background-color: oklch(24.776% 0.00003 271.152);
}   

h1 {
    color: oklch(.95 0 0);
    font-family: Arial;
    text-align: center;
}

h2 {
    color : oklch(.9 0 0);
}

h3 {
    color: oklch(.8 0 0);
    font-style: oblique;
}

p{
    font-family: 'Courier New';;
    color: oklch(.7 0 0);}

strong {
    color: oklch(34.953% 0.13326 27.714);
}