/* Image crop styles - crop height to max, expand on hover */
.image-crop {
  overflow: hidden;
  display: inline-block;
  max-height: 250px;
  transition: max-height 0.4s;
}

.image-crop:hover {
  max-height: 9999px;
  transition: max-height 2s;
}

.image-crop img {
  display: block;
  width: 100%;
}




/* Image container styles */

.project-gallery {
  /*display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;*/
  display: grid;
  grid:auto-flow dense;
  justify-content: center;

}


.project_image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.project_image-container img {
    width: 90%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Display two images side by side */
.image-pair {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.image-pair img {
  width: 45%;
  margin: 0;
  display: block;
}


.project_image-info {
  display: none;
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  color: oklch(.95 0 0); /* Text color */
  margin: 0;
  padding: 30px;
  text-align: left;
}

.project_image-container:hover img {
    filter: brightness(0.6);
    transition: filter 0.3s ease;
}

.project_image-container:hover .project_image-info {
    display: block;
}
.project_image-info h4 {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-family:'Montserrat',sans-serif ;
}
.project_image-info p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    font-family:'Montserrat',sans-serif ;

}